@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: whitesmoke;
  outline: none;
  font-family: "Poppins", sans-serif;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
}

body {
  background-color: #0e1013;
  background-image: linear-gradient(135deg, #0e1013 25%, #07242b 75%);
  background-attachment: fixed;
}

#app {
  display: flex;
  flex-direction: column;
  padding: 16px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  gap: 16px;

  & > .nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    & > .title-container {
      font-size: 28px;
      font-weight: 600;
    }

    & > .icons-container {
      display: flex;
      align-items: center;
      gap: 8px;

      .icon {
        display: flex;
        cursor: pointer;
        padding: 8px;
        background-color: #0e1013;
        border-radius: 50%;
        opacity: 0.9;
        transition: opacity 100ms ease-in-out;

        &:hover {
          opacity: 1;
        }

        svg {
          width: 24px;
          height: 24px;
          color: whitesmoke;
        }
      }
    }
  }

  & > .controls {
    & > .controls-tab {
      display: flex;
      flex-direction: column;
      gap: 8px;

      & > .title-container {
        font-size: 18px;
        font-weight: 500;
      }

      & > .controls {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .control {
          display: flex;
          flex-direction: column;
          gap: 8px;

          padding-left: 8px;
          border-left: 2px solid #191e24;
          border-radius: 4px;

          & > .info {
            display: flex;
            flex-direction: column;
            max-width: 500px;

            & > .title {
              font-size: 16px;
              font-weight: 500;
            }

            & > .description {
              font-size: 14px;
              font-weight: 300;
              color: rgba(245, 245, 245, 0.75);
              line-height: 1.25;
            }
          }

          .input-container {
            width: fit-content;
            max-width: 500px;
            display: flex;
            gap: 8px;
            align-items: center;
          }
        }
      }
    }
  }

  & > .avatars-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 16px;

    & > .header-container {
      display: flex;
      align-items: center;
      gap: 16px;

      & > .title-container {
        display: flex;
        flex-direction: column;

        & > .title {
          font-size: 24px;
          font-weight: 600;
        }

        & > .count {
          font-size: 14px;
          font-weight: 300;
          color: rgba(245, 245, 245, 0.75);
          line-height: 1.25;
        }
      }

      & > .search-container {
        display: flex;
        gap: 8px;
        align-items: center;
      }
    }

    & > .avatar-list {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      justify-content: center;

      .avatar-model {
        background-color: #0e1013;
        border: 2px solid #191e24;
        transition: all 100ms ease-in-out;
        padding: 8px;
        border-radius: 4px;
        color: rgba(245, 245, 245, 0.75);
        height: 450px;
        width: 216px;
        max-width: 216px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        &:hover,
        &.selected {
          border: 2px solid #082b34;
          color: whitesmoke;
        }

        & > .image {
          width: 200px;
          min-width: 200px;
          height: 200px;
          min-height: 200px;
          border-radius: 4px;
          background-color: #191e24;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          background-image: var(--image);
        }

        & > .info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          gap: 8px;

          & > .title {
            display: flex;
            flex-direction: column;

            & > .name {
              font-size: 20px;
              font-weight: 600;
            }

            & > .author {
              font-size: 12px;
              font-weight: 300;
              color: rgba(245, 245, 245, 0.75);
              line-height: 1.25;
            }
          }

          & > .bottom {
            display: flex;
            flex-direction: column;
            gap: 8px;

            & > .note {
              font-size: 12px;
              font-weight: 300;
              color: rgba(245, 245, 245, 0.5);
              line-height: 1.25;
            }

            & > .buttons {
              display: flex;
              flex-direction: column;
              gap: 8px;
            }
          }
        }
      }
    }
  }
}

input[type="text"],
input[type="password"],
input[type="number"],
textarea,
select {
  background-color: #0e1013;
  border: 2px solid #191e24;
  transition: all 100ms ease-in-out;
  padding: 4px 8px;
  border-radius: 4px;
  color: rgba(245, 245, 245, 0.75);
  font-size: 14px;

  &:hover,
  &:focus {
    border: 2px solid #082b34;
    color: whitesmoke;
  }

  &:disabled,
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

option {
  background-color: #0e1013;
  color: whitesmoke;
  font-size: 14px;
}

button {
  padding: 4px 8px;
  background-color: #0e1013;
  border: 2px solid #191e24;
  border-radius: 4px;
  color: rgba(245, 245, 245, 0.95);
  cursor: pointer;
  transition: all 100ms ease-in-out;
  font-size: 14px;
  user-select: none;

  &:hover {
    background-color: #082b34;
    border: 2px solid #082b34;
    color: whitesmoke;
    scale: 1.05;
  }

  &:active {
    scale: 0.95;
  }

  &:disabled,
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.small {
    padding: 2px 4px;
    font-size: 12px;
  }
}

template {
  display: none;
}
