#app {
  & > .nav {
    & > .icons-container {
      display: flex;
      align-items: center;
      gap: 8px;

      .icon {
        display: flex;
        cursor: pointer;
        padding: 8px;
        background-color: #0e1013;
        border-radius: 50%;
        opacity: 0.9;
        transition: opacity 100ms ease-in-out;

        &:hover {
          opacity: 1;
        }

        svg {
          width: 24px;
          height: 24px;
          color: whitesmoke;
        }
      }
    }
  }

  & > .avatars-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 16px;

    & > .header-container {
      display: flex;
      align-items: center;
      gap: 16px;

      & > .title-container {
        display: flex;
        flex-direction: column;

        & > .title {
          font-size: 24px;
          font-weight: 600;
        }

        & > .count {
          font-size: 14px;
          font-weight: 300;
          color: rgba(245, 245, 245, 0.75);
          line-height: 1.25;
        }
      }

      & > .search-container {
        display: flex;
        gap: 8px;
        align-items: center;
      }
    }

    & > .avatar-list {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      justify-content: center;

      .avatar-model {
        background-color: #0e1013;
        border: 2px solid #191e24;
        transition:
          all 100ms ease-in-out,
          width 0ms linear,
          max-width 0ms linear;
        padding: 8px;
        border-radius: 4px;
        color: rgba(245, 245, 245, 0.75);
        height: 450px;
        width: 220px;
        max-width: 220px;
        display: flex;
        gap: 18px;

        &:hover,
        &.selected {
          border: 2px solid #082b34;
          color: whitesmoke;
        }

        &.extended {
          width: 456px;
          max-width: 456px;
        }

        & > .main-section {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 8px;
          width: 208px;
          max-width: 208px;

          & > .image {
            width: 200px;
            min-width: 200px;
            height: 200px;
            min-height: 200px;
            border-radius: 4px;
            background-color: #191e24;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-image: var(--image);
          }

          & > .info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            gap: 8px;

            & > .title {
              display: flex;
              flex-direction: column;

              & > .name {
                font-size: 20px;
                font-weight: 600;
                text-wrap: wrap;
                word-wrap: break-word;
                overflow-wrap: break-word;
              }

              & > .author {
                font-size: 12px;
                font-weight: 300;
                color: rgba(245, 245, 245, 0.75);
                line-height: 1.25;
                text-wrap: wrap;
                word-wrap: break-word;
                overflow-wrap: break-word;
              }
            }

            & > .bottom {
              display: flex;
              flex-direction: column;
              gap: 8px;

              & > .extra {
                display: flex;
                width: 100%;
                flex-direction: column;

                & > .note {
                  font-size: 12px;
                  font-weight: 300;
                  color: rgba(245, 245, 245, 0.5);
                  line-height: 1.25;
                }
              }

              & > .buttons {
                display: flex;
                flex-direction: column;
                gap: 8px;
              }
            }
          }
        }

        & > .extended-section {
          display: flex;
          flex-direction: column;
          gap: 8px;
          justify-content: space-between;
          width: 208px;
          max-width: 208px;

          & > .controls {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .control {
              display: flex;
              flex-direction: column;
              gap: 8px;

              & > .label {
                font-size: 12px;
                font-weight: 400;
                color: rgba(245, 245, 245, 0.75);
              }
            }
          }

          & > .buttons {
            display: flex;
            flex-direction: column;
            gap: 8px;
          }
        }
      }
    }
  }
}
