@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: whitesmoke;
  outline: none;
  font-family: "Poppins", sans-serif;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
}

body {
  background-color: #0e1013;
  background-image: linear-gradient(135deg, #0e1013 25%, #07242b 75%);
  background-attachment: fixed;
}

#app {
  display: flex;
  flex-direction: column;
  padding: 16px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  gap: 16px;
}
#app > .nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
#app > .nav > .title-container {
  display: flex;
  flex-direction: column;
}
#app > .nav > .title-container > .title {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.25;
}
#app > .nav > .title-container > .subtext {
  font-size: 14px;
  font-weight: 300;
  color: rgba(245, 245, 245, 0.75);
  line-height: 1.25;
}
#app > .nav > .title-container > .subtext a {
  text-decoration: none;
  color: currentColor;
}
#app > .nav > .title-container > .subtext a:hover {
  text-decoration: underline;
}
#app .controls-tab {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#app .controls-tab > .title-container {
  font-size: 18px;
  font-weight: 500;
}
#app .controls-tab > .controls {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#app .controls-tab > .controls .control {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 8px;
  border-left: 2px solid #191e24;
  border-radius: 4px;
}
#app .controls-tab > .controls .control.disabled {
  opacity: 0.5;
  pointer-events: none;
}
#app .controls-tab > .controls .control > .info {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
#app .controls-tab > .controls .control > .info > .title {
  font-size: 16px;
  font-weight: 500;
}
#app .controls-tab > .controls .control > .info > .description {
  font-size: 14px;
  font-weight: 300;
  color: rgba(245, 245, 245, 0.75);
  line-height: 1.25;
}
#app .controls-tab > .controls .control .input-container {
  width: -moz-fit-content;
  width: fit-content;
  max-width: 500px;
  display: flex;
  gap: 8px;
  align-items: center;
}
#app .controls-tab > .controls .control .input-container.vertical {
  flex-direction: column;
  gap: 4px;
}

input[type=text],
input[type=password],
input[type=number],
textarea,
select {
  background-color: #0e1013;
  border: 2px solid #191e24;
  transition: all 100ms ease-in-out;
  padding: 4px 8px;
  border-radius: 4px;
  color: rgba(245, 245, 245, 0.75);
  font-size: 14px;
}
input[type=text]:hover, input[type=text]:focus,
input[type=password]:hover,
input[type=password]:focus,
input[type=number]:hover,
input[type=number]:focus,
textarea:hover,
textarea:focus,
select:hover,
select:focus {
  border: 2px solid #082b34;
  color: whitesmoke;
}
input[type=text]:disabled, input[type=text].disabled,
input[type=password]:disabled,
input[type=password].disabled,
input[type=number]:disabled,
input[type=number].disabled,
textarea:disabled,
textarea.disabled,
select:disabled,
select.disabled {
  opacity: 0.5;
  pointer-events: none;
}
input[type=text].small,
input[type=password].small,
input[type=number].small,
textarea.small,
select.small {
  padding: 2px 4px;
  font-size: 12px;
}

option {
  background-color: #0e1013;
  color: whitesmoke;
  font-size: 14px;
}

button {
  padding: 4px 8px;
  background-color: #0e1013;
  border: 2px solid #191e24;
  border-radius: 4px;
  color: rgba(245, 245, 245, 0.95);
  cursor: pointer;
  transition: all 100ms ease-in-out;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
button:hover {
  background-color: #082b34;
  border: 2px solid #082b34;
  color: whitesmoke;
  scale: 1.05;
}
button:active {
  scale: 0.95;
}
button:disabled, button.disabled {
  opacity: 0.5;
  pointer-events: none;
}
button.small {
  padding: 2px 4px;
  font-size: 12px;
}

template {
  display: none;
}

#toast-container {
  position: absolute;
  inset: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  align-items: flex-end;
  pointer-events: none;
}
#toast-container .toast {
  transition: all 100ms ease-in-out;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #0e1013;
  border: 2px solid #191e24;
  color: whitesmoke;
  pointer-events: all;
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 8px;
  opacity: 0;
  transform: translateY(-100%);
}
#toast-container .toast.visible {
  opacity: 1;
  transform: translateY(0);
}
#toast-container .toast > .content {
  max-width: 450px;
  font-size: 14px;
}
#toast-container .toast > .close {
  cursor: pointer;
  opacity: 0.75;
  transition: all 100ms ease-in-out;
  display: flex;
}
#toast-container .toast > .close:hover {
  opacity: 1;
}
#toast-container .toast > .close svg {
  width: 16px;
  height: 16px;
}